{% if user.is_authenticated %}
	{% if user.is_active %}

		<h1>User created successfully</h1>

		<p>username is</p>
		{{ new_user.username }}

		<p>first name is</p>
		{{ new_user.first_name }}

		<p>lastname is</p>
		{{ new_user.last_name }}

		<p>email is</p>
		{{ new_user.email }}

		<form action="{% url "user_signout" %}" method="post">{% csrf_token %}
		    <input id="user_logout" type="submit" value="Signout">
		</form>
    {% endif %}
{% else %}
	<a href="{% url "user_signin"%}">Sig in</a>
{% endif %}
