{% extends "base.html" %}
{% load i18n %}
{% block content %}
    {% if user.is_authenticated %}
        <img class="user_image" src="/{{ new_user.userprofile.image }}" /><br/>
        {{ new_user.username }}<br/>
        <a href= "{% url "friend_email_form" %}">Add a friend</a> <br/>
        <a href= "{% url "debt_user_friends" user.username %}">Friends</a><br/>
        <a href= "{% url "debt_split_amount" %}">Split Amount</a><br/>
        <a href= "{% url "debt_user_history" user.username%}">History</a>
        {% if histories %}
            <div class="final_bill">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Friend</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        {% for friendship in friendships %}
                            {% if friendship.owe == friendship.user.id %}
                                <td> <p>I owe</p>
                                    {{ friendship.friend.username }}
                                </td>
                                <td> {{ friendship.net_amount }}</td>
                            {% elif friendship.owe == friendship.friend.id %}
                                <td>
                                    {{ friendship.friend.username }}<p> owes me</p>
                                </td>
                                <td>{{ friendship.net_amount }}</td>
                            {% endif %}      
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% else %}
        <p>Please sign in</p>
    {% endif %}
{% endblock %}