<h1>User registration form.!</h1>

{% if form.errors %}
    Please correct the following errors:
    <ul class="errors">
        {% for field, error in form.errors.iteritems %}
            <li>{{ field }} {{error.as_text }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form action="." method="post">{% csrf_token %}
    {% for field in form %}
        {{ field.label_tag }}
        {{ field }} <br/>
    {% endfor %}
    <input id="create_user" type="submit" value="Create" name="button">
</form>
<a href="{% url "user_signin" %}" rel="nofollow">Sign in</a>