{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% if friends %}
        {% for friend in friends %}
            <img class="user_image" src ="{{ MEDIA_URL}}{{ friend.userprofile.image }}"><br/>
            {{ friend.username }}
        {% endfor %}
    {% else %}
        <p>No friends for {{user.username}}</p>
    {% endif %}

    {% if page_obj.has_next or page_obj.has_previous %}
        {% if page_obj.has_next%}
            <a href="{% url "debt_user_friends" user.username %}?page={{ page_obj.next_page_number }}">Next</a>
        {% elif page_obj.has_previous %}
            <a href="{% url "debt_user_friends" user.username %}?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
    {% endif %}
{% endblock %} 