{% extends "base.html" %}
{% block content %}
    {% if histories %}
        <div class="final_bill">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Friend</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for friendship in friendships %}
                        {% if friendship.owe == friendship.user.id %}
                            <td> <p>I owe</p>
                                {{ friendship.friend.username }}
                            </td>
                            <td> {{ friendship.net_amount }}</td>
                        {% elif friendship.owe == friendship.friend.id %}
                            <td>
                                {{ friendship.friend.username }}<p> owes me</p>
                            </td>
                            <td>{{ friendship.net_amount }}</td>
                        {% endif %}      
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}