{% extends "base.html" %}
{% load debt_filters %}
{% block content %}
    {% if histories %}
        {% if i_owe_friendships %}
        <h4>I OWE FRIENDS</h4>
        <p id='net_amount'>{{ i_owe_amount }}</p>
        <div class="i_owe_friends">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Friend</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for friendship in i_owe_friendships %}
                        <tr>
                            <td>{{ friendship.user.username }}</td>
                            <td>{{ friendship.net_amount }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if friend_owe_friendships %}
        <h4>FRIENDS OWE ME</h4>
        {% if friends_owe_amount == None %}
            <p>0</p>
        {% else %}
            <p id='net_amount'>{{ friends_owe_amount }}</p>
        {% endif %}
        <div class="i_owe_friends">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Friend</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for friendship in friend_owe_friendships %}
                        <tr>
                            {% if friendship.friend.net_amount == None %}
                                <td>{{ friendship.friend.username }}</td>
                                <td>0</td>
                            {% else %}
                                <td>{{ friendship.friend.username }}</td>
                                <td>{{ friendship.net_amount }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    {% endif %}
{% endblock %}